<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Oracle.DataAccess.Client" connectionString="User Id=hr;Password=hr;Data Source=XE" providerName="Oracle.DataAccess.Client"/>
    <add name="Devart.Data.Oracle" connectionString="User Id=vagif_test;Password=vagif_test;Server=maoracle22;Direct=True;Sid=tgra112;" providerName="Devart.Data.Oracle"/>
    <add name="Oracle.ManagedDataAccess" connectionString="User Id=vagif_test;Password=vagif_test;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=maoracle22)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=tgra112)));Persist Security Info=True" providerName="Oracle.ManagedDataAccess"/>
  </connectionStrings>
</configuration>